.form{
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 2px black;
    margin-top: 10px;

}

.form input{
    padding:10px;
    border-radius: 4px;
    width: 300px;
}

.error{
    color: red;
}

span, label{
    margin-bottom: 3px;
}